[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
flask = "==1.1.2"
flask-sqlalchemy = "==2.4.3"

[requires]
python_version = "3.8"
